NodeRED_flow/Read-Serial-Color-Sensor.json
[{"id":"dbc00f64.ddd448","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dcba1916.0419b8","type":"serial in","z":"dbc00f64.ddd448","name":"","serial":"b2e06808.688fc8","x":130,"y":300,"wires":[["18749838.cb2338"]]},{"id":"18749838.cb2338","type":"switch","z":"dbc00f64.ddd448","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Red","vt":"str"},{"t":"cont","v":"Green","vt":"str"},{"t":"cont","v":"Blue","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":300,"wires":[["72bb0dc0.106684"],["ef168cd0.2d042"],["f1aacf58.5b1f28"]]},{"id":"72bb0dc0.106684","type":"change","z":"dbc00f64.ddd448","name":"red hex","rules":[{"t":"set","p":"payload","pt":"msg","to":"#FF0000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":180,"wires":[["4bcb43.0f0f8cbc"]]},{"id":"4bcb43.0f0f8cbc","type":"ui_template","z":"dbc00f64.ddd448","group":"","name":"","order":2,"width":"13","height":"10","format":"<div ng-bind-html=\"msg.payload\" \n    style=\"background-color:{{msg.payload}}; text-align: center; height: 100%;width: 100%\" ng-model=\"msg.payload\">\n    \n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":280,"wires":[[]]},{"id":"ef168cd0.2d042","type":"change","z":"dbc00f64.ddd448","name":"green hex","rules":[{"t":"set","p":"payload","pt":"msg","to":"#008000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":280,"wires":[["4bcb43.0f0f8cbc"]]},{"id":"f1aacf58.5b1f28","type":"change","z":"dbc00f64.ddd448","name":"blue hex","rules":[{"t":"set","p":"payload","pt":"msg","to":"#0000FF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":420,"wires":[["4bcb43.0f0f8cbc"]]},{"id":"b2e06808.688fc8","type":"serial-port","z":"","serialport":"COM18","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]